<launch>

  <arg name="rviz" default="true" />

  <arg name="choupal" default="false" />

  <arg name="testarlego" default="false" />
  
  <arg name="model" default="$(find traversability_mapping)/urdf/sensor_box.urdf"/>


  <node pkg="livox_mapping" type="loam_scanRegistration" name="scanRegistration" output="screen"/>
  

  <node pkg="livox_mapping" type="loam_laserMapping" name="laserMapping" output="screen">


  <param name="map_file_path" type="string" value="/home/safe/Desktop" />
  <param name="filter_parameter_corner" type="double" value="0.1" />
  <param name="filter_parameter_surf" type="double" value="0.2" />
  </node>
  

  <node pkg="message_to_tf" type="message_to_tf" name="odom_to_tf" args="/aft_mapped_to_init"/>
  <group if="$(arg choupal)">
	
        <node pkg="tf" type="static_transform_publisher" name="aft_to_base_link"  args="0 0 0 0   0 0 /aft_mapped /base_link 10" />
	
    	<param name="robot_description" textfile="$(arg model)" />
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
            <remap from="joint_state" to="joint_state"/>
            <param name="publish_frequency" type="double" value="15.0"/>
    	</node>

<!--Image transports-->
    <node pkg="image_transport" 
		  type="republish" 
		  name="realsense_rgb" 
		  args="compressed in:=/realsense/color/image_raw
		  		raw out:=/realsense/color/image_raw"/> 
	
    <node pkg="image_transport" 
		  type="republish" 
		  name="realsense_depth" 
		  args="compressedDepth in:=/realsense/aligned_depth_to_color/image_raw
		        raw out:=/realsense/aligned_depth_to_color/image_raw"/>

	<node pkg="image_transport" 
	  type="republish" 
	  name="mynteye_left" 
	  args="compressed in:=mynteye/left_rect/image_rect
	  		raw out:=mynteye/left_rect/image_rect"/> 
	
	<node pkg="image_transport" 
	  type="republish" 
	  name="mynteye_right" 
	  args="compressed in:=mynteye/right_rect/image_rect
	  		raw out:=mynteye/right_rect/image_rect"/> 


	<!-- Generate Realsense's Point Cloud from Depth-->
	<node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" />
  	<node pkg="nodelet" type="nodelet" name="realsense_depth2cloud"
  	      args="load depth_image_proc/point_cloud_xyzrgb nodelet_manager">
  	  <remap from="rgb/camera_info" to="/realsense/color/camera_info"/>
  	  <remap from="rgb/image_rect_color" to="/realsense/color/image_raw"/>

	  <remap from="depth_registered/image_rect" to="/realsense/aligned_depth_to_color/image_raw"/>
  	  <remap from="depth_registered/points" to="/realsense/depth/points"/>
  	</node>
	
	<!-- Generate Mynteye's Point Cloud from Depth-->
	<node pkg="nodelet" type="nodelet" name="mynt_depth2cloud"
  	      args="load depth_image_proc/point_cloud_xyz nodelet_manager">
  	  <remap from="camera_info" to="/mynteye/depth/camera_info"/>
  	  <remap from="image_rect" to="/mynteye/depth/image_raw"/>
  	  <remap from="points" to="/mynteye/depth/points"/>
  	</node>
</group>
   

  	

  <group if="$(arg testarlego)">
    <node pkg="tf" type="static_transform_publisher" name="camera_init_to_map"  args="0 0 0 1.570795   0 1.570795 /map /camera_init 10" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera" args="0 0 0 -1.570795 -1.570795 0 /camera /base_link   10" />
    <node pkg="tf" type="static_transform_publisher" name="velodyne_base_link" args="0 0 0 0 0 0 /base_link /velodyne 10" />
  </group>

  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find livox_mapping)/rviz_cfg/loam_livox.rviz" />
  </group>

</launch>



 
